<form action="/todo-items" method="post">
    <input id="todo-item" name="todo-item" type="text">
    <input id="deadline" name="deadline" type="text">
    <input type="submit" value="Submit">
</form>